# =========================================
# === General Python ignores ===
# =========================================

__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.pid
scripts/
client/public

db_chunks
# =========================================
# === VS Code settings ===
# =========================================
.vscode/
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json
.vscode/chrome-debug-profile/
.vscode/chrome-debug-profile/**

# =========================================
# === Virtual environments ===
# =========================================
.venv/
env/
venv/
# =========================================
# === Node / JS frontend ===
# =========================================
node_modules/
dist/
build/

# =========================================
# === Local databases (root only) ===
# =========================================
/data/
/data/**
/data/*.db
/data/*.db-shm
/data/*.db-wal
/data/history.json
/data/players.db
/data/world.db

# =========================================
# === OS / Temp files ===
# =========================================
.DS_Store
Thumbs.db
desktop.ini

# =========================================
# === Ignore local model/training folders ===
# =========================================
bot_gru/

# =========================================
# === Explicitly track service data folder ===
# =========================================
!services/game2/data/
!services/game2/data/db_scrolls
!services/gam2/data/db_scores

models
